<div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ groupName }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Subliem in alles!</h6>
      <table class="table">
        <tr>
          <th>Naam</th>
          <th>Was gedaan..</th>
        </tr>
          <tbody>
            <tr>
              <td>Joop</td>
              <td>jup heb ik gedaan</td>
            </tr>
          </tbody>
      </table>
    </div>
</div>