.list-group-item {
    padding: 0;
    display: block;

    a {
        position: relative;
        display: block;
        padding: 0px 30px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
    }
}

.list-group-item:hover {
    background-color: rgba(0,0,0,0.3);
}
