<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-sm-8">
          <app-create-instance></app-create-instance>         
          <hr/>
          <app-group-page></app-group-page>
    </div>
    <div class="col-md-4 col-sm-4">
        <app-overview></app-overview>
    </div>
  </div>
</div>
