<form [formGroup]="myGroup" (ngSubmit)="onSubmit($event)">
  <div class="form-group create-instance">
    <h2>Create {{title}} Instance</h2>
    <input class="form-control inline" type="text" placeholder="Type here.." formControlName="groupName"/> 
  </div>
  <button class="btn btn-primary inline" type="submit">Create</button>
</form>
