/* You can add global styles to this file, and also import other style files */

$body-bg: #fff;

.seperator {
    margin-bottom: 0;
    text-align: center;
}

.seperator::after {
    content: '-';
}

